/* *{
    padding: 0;
    margin: 0;
} */

html, body, pre, code, kbd, samp {
    font-family: "'Press Start 2P', cursive;";
}

#gamebox { 
    width: 400px;
    height: 500px;
    border: 5px solid black;
    margin: auto;
    overflow: hidden;
}

#ball {
    background-color: blue;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 1000000;
}

.bar {
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

.gap {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

h1 {
    text-align: center;
    /* font-size: x-large; */

}

h2 {
    text-align: center;
}

#words{
    text-align: center;
    justify-content: auto;
    width: 480px;
    margin: auto;
}

#time {
    text-align: center;
}

#button {
    text-align: center;
}


